
<h4>Sort</h4>
  <ul>
    <li><%= link_to "新しい順", posts_path(sort: 'created_at DESC') %></li>
    <li><%= link_to "古い順", posts_path(sort: 'created_at ASC') %></li>
    <li><%= link_to "評価の高い順", posts_path(sort: 'star DESC') %></li>
  </ul>

<h4>Search Tag</h4>
  <div class="mr-3">
    <%= render "public/searches/tag_form" %>
  </div>

  <!--タグリスト-->
  <ul>
    <% @tag_list.each do |list|%>
      <li>
        <i class="fa-sharp fa-solid fa-tag" ></i>
        <%= link_to list.tagname,search_tag_path(tag_id: list.id) %>
        <%= "(#{list.posts.count})" %>
      </li>
    <% end %>
  </ul>