
<div class="img1">
  <div class="img1-title">
    <h1>POST INDEX</h1>
  </div>
</div>

<div class='container'>
  <!--エラーメッセージ-->
  <% if @post.errors.any? %>
    <h3><%= @post.errors.count %>error prohibited this obj from being saved:</h3>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
  <div class="mr-3"><%= render "public/searches/tag_form" %></div>
    <%= link_to "新しい順", posts_path(sort: 'created_at DESC') %> 
    　|　
    <%= link_to "古い順", posts_path(sort: 'created_at ASC') %> 
    　|　
    <%= link_to "評価の高い順", posts_path(sort: 'star DESC') %>

    <%= render 'public/posts/tile', posts: @posts %>
  </div>
</div>