
<div class="img1">
  <div class="img1-title">
    <h1>NEW POST</h1>
  </div>
</div>

<div class='container'>
  <div class="row">

    <div class="new">
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @post do |f| %>

        <h4>画像</h4>
        <%= f.file_field :image, accept: "image/*" %>

        <h4>商品名</h4>
        <%= f.text_field :name, size: 45 %>

        <h4>商品説明</h4>
        <%= f.text_area :introduction, cols: '50' %>

        <h4>個数</h4>
        <%= f.number_field :amount %>個

        <!--包装 有無-->
        <h5>※個包装
          <%= f.radio_button :package, :"有り" %>
          <%= f.label :package, "有り", value: :"有り"  %>
          <%= f.radio_button :package, :"無し" %>
          <%= f.label :package, "無し", value: :"無し"  %>
        </h5>

        <h4>価格</h4>
        <%= f.number_field :price %>円

        <h4>都道府県</h4>
        <%= f.select :prefecture, Post.prefectures.keys.map %>

        <h4>場所（詳細）</h4>
        <%= f.text_field :location, size: 45 %>

        <h4>贈る相手・オススメ</h4>
        <%= f.select :recommend, Post.recommends.keys.map %>

        <h4>タグ　(「,」で区切ると複数タグ登録できます)</h4>
        <%= f.text_field :tagname, value: @tag_list, class: 'form-control' %>

        <% if @post.id.nil? %>
          <div class="form-group" id="star">
            <h4><%= f.label :star %></h4>
            <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
            <div id="post_raty"></div>
          </div>
          <script>
            $(document).on('turbolinks:load', function() {
              let elem = document.querySelector('#post_raty');
              if (elem == null) return;

              elem.innerHTML = ""
              let opt = {  
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: 'post[star]',
              };
              raty(elem, opt);
            });
          </script>
        <% else %>
          <div class="form-group">
            <%= render "static_rate", post: post %>
          </div>
        <% end %>

        <h4>Review</h4>
        <%= f.text_area :review, cols: '50' %>

        <p><%= f.submit '投稿' %></p>
      <% end %>
    </div>

  </div>
</div>