<div class="img1">
  <div class="img1-title">
    <h1>Search</h1>
  </div>
</div>

<div class='container'>

  <% if @model == 'user' %>
    <h3><strong>Users search for "<%= @content %>"</strong></h3>
    <div class="row">
      <%= render 'public/users/index', users: @records %>
    </div>

  <% elsif @model == 'post' || @model == 'tag' %>
    <h3 class="post"><strong>Posts search for　"<%= @content %>"</strong></h3>
    
    <div class="row">
      <div class="contents">
        <article>
          <%= render 'public/posts/tile', posts: @records %>
        </article>

        <aside>
          <%= render 'public/posts/sub_menu', posts: @posts %>
        </aside>
      </div>
    </div>
  <% end %>
</div>