<h3>ユーザー詳細</h3>

<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>

  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集",edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->
<h3>POST 一覧</h3>

<% @posts.each do |post| %>
  <div>
    <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>

    <!--商品画像-->
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image(300,300) %>
    <% end %>

    <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
    <p>商品名：<%= post.name %></p>
    <p><%= post.introduction %></p>
    <p>場所：<%= post.prefecture %></p>
    <p>「<%= post.recommend %>」オススメ</P>

    <!--ユーザー情報-->
    <p><%= image_tag post.user.get_profile_image(100,100) %></p>
    <p>User_name：<%= post.user.name %></p>

    <!--いいね・コメント-->
    <p><%= link_to "★いいね： #{post.favorites.count}", post_path(post.id) %></p>
    <p><%= link_to "コメント： #{post.post_comments.count}", post_path(post.id) %></p>

  </div>
<% end %>
