
<div class="img1">
  <div class="img1-title">
    <h1>Profile Edit</h1>
  </div>
</div>

<div class='container'>
  <div class="row">
    <div class="mx-auto">

      <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <br>
      <%= form_with model: @user do |f| %>
        <table class="edit", width="100%">
          <tr>
            <td width="20%"></td>
            <td width="80%"></td>
          </tr>
          <tr>
            <td><label for="inputImage">ProfileImage</label></td>
            <td><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></td>
          </tr>
          <tr>
            <td><label for="inputName">Name</label></td>
            <td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%></td>
          </tr>
          <tr>
            <td><label for="inputEmail">Email</label></td>
            <td><%= f.email_field :email, autofocus: true, id:"inputEmail", placeholder:"メールアドレス"%></td>
          </tr>
          <tr>
            <td><%= f.submit "変更を保存" %></td>
          </tr>
        </table>
      <% end %>

      <div class="Withdrawal">
        <%= link_to "退会", user_path(current_user.id), class: "destroy-user", method: :delete, data: { confirm: '本当に削除しますか？'}, class: "btn btn-sm btn-danger" %>
      </div>

    </div>
  </div>
</div>